.wrapper {
    width: 100%;
    min-height: 100%;
    position: relative;
    display: inline-block;
}

.navbar {
    margin-bottom: 0px !important;
    border-radius: 0px !important;
}

.btn {
    outline: none !important;
}

.nav-and-content-container {
    float: right;
    width: 86%;
    position: relative;

}

.container-fluid, .navbar-collapse {
    padding: 0px !important; /*removing left padding the exists by default in the navbar*/
}

a:focus {
    outline: none !important;
}

/******************************/
/* Topic level color sequence (FIVE) */
/******************************/
.topic-level-1 {
    background-color: #5C6BC0;
}
.topic-level-1:hover {
    background-color: #7D89CD;
}
.topic-level-2 {
    background-color: #6A123C;
}
.topic-level-2:hover {
    background-color: #B15983;
}
.topic-level-3 {
    background-color: #E47209;
}
.topic-level-3:hover {
    background-color: #F79337;
}
.topic-level-4 {
    background-color: #007F85;
}
.topic-level-4:hover {
    background-color: #01A4AC;
}
.topic-level-0 {
    background-color: #2A6E05;
}
.topic-level-0:hover {
    background-color: #418B1A;
}



/******************************/
/* TOPICS SIDEBAR */
/******************************/
.rs-sidebar-brand {
    display: block;
    text-align: center;
    width: 100%;
    min-height: 51px;
    line-height: 51px;
    color: white !important;
    border-bottom: 1px solid rgba(0,0,0,.15);
    background-color: rgba(0,0,0,.12);
    font-size: 24px;
    text-decoration: none !important;
}
.rs-sidebar-brand:hover {
    text-decoration: none;
    color: white;
}

.topicsSideBar {
    background-color: #5C6BC0;
    width: 14%;
    top: 0px;
    left: 0px;
    bottom: 0px;
    position:absolute;
    min-height: 100vh;
}

.oneTopic {
    color: white;

}







.checkbox {
    display: table-cell;
    padding: 10px;
    padding-left: 0px;
    background-color: #808080   ;
}

.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon, .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}









.topicButtonContainer {
    display: table-cell;
    width: 100%;
    vertical-align: top;
    height: 100%;
}
.topic-button {
	width: 100%;
    height: 100%;
	border: none;
	font-size: 16px;
	outline: none;
	background-color: transparent;
}


.addTopLevelTopicButton, .delete-research-button {
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
}
.addTopLevelTopicButton:active, .delete-research-button:active{
    background-color: transparent !important;
    box-shadow: none !important;
    outline: none !important;
}







/******************************/
/* Add research content area */
/******************************/
.addResearchContainer {
    padding: 20px;
}


/******************************/
/* View research content area */
/******************************/
.viewResearchContainer {
    padding-left: 20px;

}

.viewModeResearchArea {
}

.single-topic-view {
    padding: 5px;
}

.view-topic-title {
    background-color: Transparent;
    border: none;
    font-size: 22px;
    width: 100%;
    outline: none;   
}

.topic-menu-button {
    background-color: transparent !important;
    border: none !important;
    padding: 0px !important;  
    padding-right: 5px !important;
}
.topic-menu-button:focus, .topic-menu-button:active {
    outline: none !important;
    background-color: transparent !important;
}
.topic-menu-button:hover {
    text-decoration: underline !important;
    background-color: transparent !important;   
}

.changeTopicParentRadio {
    padding-left: 20px;
}

/******************************/
/* research notes content area */
/******************************/
.viewNotesContainer {
    overflow: hidden;
    padding-left: 20px;
}

.view-notes-textarea {
    width: 100%;
}

/******************************/
/* recommendations content area */
/******************************/
.recommendations-container {
    overflow: hidden;
    padding: 20px;
    height: 100vh !important;
}

.recommendations-textarea {
    width: 100%;
    height: 90% !important;
}