.wrapper {
    width: 100%;
    height: 100%;
}

.navbar {
    margin-bottom: 0px !important;
    border-radius: 0px !important;
}

.btn {
    outline: none !important;
}

.nav-and-content-container {
    overflow: hidden;
}

.container-fluid .navbar-collapse {
    padding: 0px !important; /*removing left padding the exists by default in the navbar*/
}


/******************************/
/* Topic level color sequence (FOUR) */
/******************************/
.topic-level-1 {
    background-color: #5C6BC0;
}
.topic-level-1:hover {
    background-color: #7D89CD;
}
.topic-level-2 {
    background-color: #8C8CFF;
}
.topic-level-2:hover {
    background-color: #7D89CD;
}
.topic-level-3 {
    background-color: #73C78F;
}
.topic-level-3:hover {
    background-color: #7D89CD;
}
.topic-level-0 {
    background-color: #A366A3;
}
.topic-level-0:hover {
    background-color: #7D89CD;
}



/******************************/
/* TOPICS SIDEBAR */
/******************************/
.rs-sidebar-brand {
    display: block;
    text-align: center;
    width: 100%;
    min-height: 51px;
    line-height: 51px;
    color: white;
    border-bottom: 1px solid rgba(0,0,0,.15);
    background-color: rgba(0,0,0,.12);
    font-size: 24px;
}
.rs-sidebar-brand:hover {
    text-decoration: none;
    color: white;
}

.topicsSideBar {
	width: 15%;
    height: 100vh;
    float: left;
    background-color: #5C6BC0;
}

.oneTopic {
    color: white;

}


.topicCheckboxContainer {
    display: table-cell;
    padding: 10px;
}
.js-topic-checkbox {
    -webkit-transform: scale(1.3);
}


.topicButtonContainer {
    display: table-cell;
    width: 100%;
    vertical-align: top;
    height: 100%;
}
.js-topic-button {
	width: 100%;
    height: 100%;
	border: none;
	font-size: 16px;
	outline: none;
	background-color: transparent;
}


.addTopLevelTopicButton {
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
}
.addTopLevelTopicButton:active {
    background-color: transparent !important;
    box-shadow: none !important;
    outline: none !important;
}







/******************************/
/* Add research content area */
/******************************/
.addResearchContainer {
    overflow: hidden;
    padding: 20px;
}


/******************************/
/* View research content area */
/******************************/
.viewResearchContainer {
    overflow: hidden;
    padding-left: 20px;
}

.single-topic-view {
    padding: 5px;
}

.view-topic-title {
    background-color: Transparent;
    border: none;
    font-size: 22px;
    width: 100%;
    outline: none;   
}

.topic-menu-button {
    background-color: transparent !important;
    border: none !important;
    padding: 0px !important;  
    padding-right: 5px !important;
}
.topic-menu-button:focus, .topic-menu-button:active {
    outline: none !important;
    background-color: transparent !important;
}
.topic-menu-button:hover {
    text-decoration: underline !important;
    background-color: transparent !important;   
}