<nav class="navbar navbar-default">
  <div class="container-fluid">

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav">

        <li class="active"><a href="/">Add<span class="sr-only">(current)</span></a></li>
        <li><a href="/#!/view">View</a></li>
        <li><a href="/#!/notes">Notes</a></li>
        <li><a href="/#!/recommendations">Recommendations</a></li>

      </ul>

        <div class="rs-auth" style="padding-right: 40px">
          <p class="navbar-right navbar-text" ng-hide="authenticated"><a href="" data-toggle="modal" data-target="#rs-login-form">Login</a> or <a href="" data-toggle="modal" data-target="#rs-register-form">Register</a></p>



            <!-- modal for login form-->
            <div class="modal fade" id="rs-login-form" role="dialog">
              <div class="modal-dialog">
              
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Login</h4>
                  </div>
                  <div class="modal-body">
                    <p class="text-warning">{{error_message}}</p>
                    <input type="email" ng-model="user.email" placeholder="Email" class="form-control"><br>
                    <input type="password" ng-model="user.password" placeholder="Password" class="form-control"><br>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
                
              </div>
            </div>

            <!-- modal for register form-->
            <div class="modal fade" id="rs-register-form" role="dialog">
              <div class="modal-dialog">
              
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Register</h4>
                  </div>
                  <div class="modal-body">
                    <p class="text-warning">{{error_message}}</p>
                    <input type="email" ng-model="user.email" placeholder="Email" class="form-control"><br>
                    <input type="password" ng-model="user.password" placeholder="Password" class="form-control"><br>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
                
              </div>
            </div>



          <p class="navbar-right navbar-text" ng-show="authenticated"><a href="" ng-click="signout()">Logout</a></p>
        </div>

    </div><!-- /.navbar-collapse -->



  </div><!-- /.container-fluid -->



</nav>