<div class="viewResearchContainer">


	<!-- this is where searched terms will be used to show content-->
	<div class="search-research-container" ng-if="showSearchResults">

		<h1>Search results:</h1>

		<table class="table table-bordered">

			<thead>

				<tr>

					<th>Link</th>
					<th>Title</th>
					<th>Date</th>
					<th>Source</th>
					<th>Summary</th>

				</tr>

			</thead>

			<tbody>

				<tr ng-repeat="research in researches">

					<td><a href={{research.link}} target="_blank">Link</a></td>
					<td>{{research.title}}</td>
					<td>{{research.date}}</td>
					<td>{{research.source}}</td>
					<td>{{research.summary}}</td>

				</tr>

			</tbody>

		</table>

	</div>










	<div class="single-topic-view" ng-repeat="topic in topics | orderBy : 'viewModeOrderRank'" id={{topic._id}} ng-if="topic.viewModeVisible">

		<input type="text" class="view-topic-title" ng-model="topic.topicName" ng-blur="editTopicTitle($event)">

		<div class="viewModeMenuButtons">
			<!-- add subtopic -->

			<button type="button" class="btn btn-default topic-menu-button" data-toggle="modal" data-target="#modalAddSubtopic{{$index}}">
			  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			  Add subtopic
			</button>

			  <!-- Modal for when user clicks add subtopic and they type new topic-->
			  <div class="modal fade" id="modalAddSubtopic{{$index}}" role="dialog">
			    <div class="modal-dialog">
			    
			      <!-- Modal content-->
			      <div class="modal-content">
			        <div class="modal-header">
			          <button type="button" class="close" data-dismiss="modal">&times;</button>
			          <h4 class="modal-title">Add a new subtopic for {{topic.topicName}}</h4>
			        </div>
			        <div class="modal-body">
			       		<input type="text" class="form-control" ng-model="userWritesNewSubtopic">
			        </div>
			        <div class="modal-footer">
			          <button type="button" class="btn btn-primary" ng-click="createNewSubtopic(topic, userWritesNewSubtopic)">Submit</button>
			          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        </div>
			      </div>
			      
			    </div>
			  </div>

			<!-- end add subtopic -->

			<!-- delete topic -->

			<button type="button" class="btn btn-default topic-menu-button" data-toggle="modal" data-target="#modalDeleteTopic{{$index}}">
			  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			  Delete topic
			</button>

			  <!-- Modal for when user clicks add subtopic and they type new topic-->
			  <div class="modal fade" id="modalDeleteTopic{{$index}}" role="dialog">
			    <div class="modal-dialog">
			    
			      <!-- Modal content-->
			      <div class="modal-content">
			        <div class="modal-header">
			          <button type="button" class="close" data-dismiss="modal">&times;</button>
			          <h4 class="modal-title">Type <span style="color: red">{{topic.topicName}}</span> to delete this topic</h4>
			        </div>
			        <div class="modal-body">
			       		<input type="text" class="form-control" ng-model="userWritesTopic" ng-change="checkUserWriteTopicDelete(topic, userWritesTopic)">
			       		<p>Warning: this will also delete all subtopics</p>
			        </div>
			        <div class="modal-footer">
			          <button type="button" class="btn btn-danger" ng-click="deleteTopic(topic)" disabled>Delete</button>
			          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        </div>
			      </div>
			      
			    </div>
			  </div>

			<!-- end delete topic -->

			<!-- button for displaying a column of delete buttons corresponding to particular research -->

			<button type="button" class="btn btn-default topic-menu-button" ng-click="deleteResearchMode($event, topic._id)">
			  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			  Delete research
			</button>

			<!-- end delete research button -->

			<!-- change the "Link" column to the actual url which can then be edited-->

			<button type="button" class="btn btn-default topic-menu-button" ng-click="showResearchLinks = !showResearchLinks">
			  <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
			  Edit links
			</button>

			<!-- end edit links -->

			<!-- For changing the parent topics of each topic -->

			<button type="button" class="btn btn-default topic-menu-button" data-toggle="modal" data-target="#modalChangeParent{{$index}}">
			  <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
			  Change parent topic
			</button>

			<div class="modal fade" id="modalChangeParent{{$index}}" role="dialog">
			    <div class="modal-dialog">
			    
			      <!-- Modal content-->
			      <div class="modal-content">
			        <div class="modal-header">
			          <button type="button" class="close" data-dismiss="modal">&times;</button>
			          <h4 class="modal-title">Change topic parent</h4>
			        </div>
			        <div class="modal-body">

			        <form>

			        	<label class="radio changeTopicParentRadio"><input type="radio" name="radgroup" value="null">Make topic a top level topic</label>

			        	<hr>

			        	<label ng-repeat="modalTopic in topics" ng-if="modalTopic._id !== topic._id" class="radio changeTopicParentRadio"><input type="radio" name="radgroup" value={{modalTopic._id}}>{{modalTopic.topicName}}</label>
			        </form>

			        </div>
			        <div class="modal-footer">
			          <button type="button" class="btn btn-primary" ng-click="submitChangeTopicParent(topic._id)">Submit</button>
			          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        </div>
			      </div>
			      
			    </div>
			 </div>	

			<!-- end change parent topic-->

			<!-- editing topicIDs associated with research -->
			
			<button type="button" class="btn btn-default topic-menu-button" ng-click="modifyResearchTopicIDsMode($event, topic._id)">
			  <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
			  Modify topics associated with research
			</button>

			<!-- end editing topicIDs-->

		</div>

		<div class="viewModeResearchArea">

			<table class="table table-bordered">

				<thead>
					<tr>
						<th ng-if="topic.showModifyResearchTopicsButtons">Modify?</th>
						<th ng-if="topic.showDeleteButtons">Delete?</th>
						<th>Link</th>
						<th>Title</th>
						<th>Date</th>
						<th>Source</th>
						<th>Summary</th>
					</tr>
				</thead>
				<tbody>

					<tr ng-repeat="research in topic.researches" id={{research._id}}>







						<td ng-if="topic.showModifyResearchTopicsButtons">

							<button type="button" class="btn btn-default" aria-label="Left Align" data-toggle="modal" data-target="#modalChangeResearchTopics{{$index}}">
        						<span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
      						</button>





							<div class="modal fade" id="modalChangeResearchTopics{{$index}}" role="dialog">
							    <div class="modal-dialog">
							    
							      <!-- Modal content-->
							      <div class="modal-content">
							        <div class="modal-header">
							          <button type="button" class="close" data-dismiss="modal">&times;</button>
							          <h4 class="modal-title">Change topic associated with research</h4>
							        </div>
							        <div class="modal-body">

							        	<h4>Title: {{research.title}}</h4>

							        	<div class="radio" ng-repeat="topic in topics">
							        		<label><input type="radio" name="modifyTopicRadio">{{topic.topicName}}</label>
							        	</div>


							        </div>
							        <div class="modal-footer">
							          <button type="button" class="btn btn-primary" >Submit</button>
							          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							        </div>
							      </div>
							      
							    </div>
							 </div>	


























						</td>








						<td class="view-research-delete-research" ng-if="topic.showDeleteButtons">

							<button type="button" class="btn btn-default delete-research-button" aria-label="Left Align" ng-click="deleteResearch($event, research, topic)">
        						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      						</button>

						</td>

						<td class="view-research-link" contenteditable ng-model="research.link" ng-blur="editResearch($event)" ng-if="showResearchLinks"></td>
						<td ng-if="!showResearchLinks"><a href={{research.link}} target="_blank">Link</a></td>
						<td class="view-research-title" contenteditable ng-model="research.title" ng-blur="editResearch($event)"></td>
						<td class="view-research-date" contenteditable ng-model="research.date" ng-blur="editResearch($event)"></td>
						<td class="view-research-source" contenteditable ng-model="research.source" ng-blur="editResearch($event)"></td>
						<td class="view-research-summary" contenteditable ng-model="research.summary" ng-blur="editResearch($event)"></td>																	
					</tr>


				</tbody>

			</table>


		</div>



	</div>



</div>

